/*Menupage */
.menuPage {
  background-image: url("https://wallpaperaccess.com/full/983279.jpg");
  background-repeat: repeat;
}
.menuPage-main {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  padding: 30px;
}
.food-drink-side {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 1px solid whitesmoke;
  width: fit-content;
  padding: 30px;
  cursor: pointer;
}
.menuPage-mainPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 1px solid whitesmoke;

  position: relative;
  overflow: hidden;

  min-height: 400px;
}
@media screen and (max-width: 768px) {
  .menuPage-main {
    margin: 20px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .menuPage-mainPicture {
    margin: 20px;
    min-width: 300px;
    min-height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .food-drink-side {
    margin: 60px 20px;
    min-width: 300px;
  }
}
.menuPage-img-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
/* cai white brush  */
.category-name-brush {
  margin: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.category-name-brush-img {
  max-width: 500px;
  min-width: 50%;
  height: 150px;
}
.category-name-brush-word {
  font-family: "Oleo Script", cursive;
  font-size: 45px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
}

@media only screen and (min-width: 1300px) {
  .menuByCategory-area {
    max-width: 1250px !important;
  }
}
