.ajfkjahfk {
  font-size: 40px;
}
.staff-information-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
.staff-information {
  display: flex;
  color: black;
  text-shadow: 2px 2px white;
}

.staff-information-card {
  border-radius: 15px;
  background: linear-gradient(to right, rgb(201, 214, 255), rgb(226, 226, 226));
  padding: 20px;
}
.staff-information-left {
  width: 200px;
  display: flex;
  color: black;
  font-weight: 600;
  /* align-items: left; */
}
.staff-information-right {
  widows: 200px;
}
.choose-date-wrap {
  display: flex;

  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
.full-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.full-time-item-wrap {
  display: flex;
  flex-direction: column;
}
.full-time-item {
  display: flex;
  margin: 10px;
}
.item {
  width: 200px;
}
.full-part-time{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.full-part-time-item{
    display: flex;

}
